{% extends "base.html" %}

{% block content %}
<br>
<h1>Histórico de Atendimentos</h1>
<br>
<style>
    /* Apply general styling for tables */
    .employee-table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
        table-layout: fixed;
    }

    .employee-table th,
    .employee-table td {
        padding: 10px;
        border: 1px solid black;
        text-align: left;
        width: 25%;
    }
</style>

<body>
    {% for service in services %}
    <div class="employee-table-container">
        <table class="employee-table">
            <tr>
                <th>Cliente</th>
                <th>Funcionário</th>
                <th>Data</th>
                <th>Hora</th>
                <th>Tipo</th>
                <th>Valor</th>
            </tr>
            <tr>
                <td>{{service.User.name}}</td>
                <td>{{service.Schedule.responsible.name}}</td>
                {% if service.Schedule.date in "1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19" %}
                    <td>{{service.Schedule.date}}/09/2023</td>
                {% else %}
                    <td>{{service.Schedule.date}}/08/2023</td>
                {% endif %}
                <td>{{service.Schedule.data}}</td>
                <td>{{service.Schedule.type}}</td>
                {% if service.Schedule.type == 'Corte de Cabelo' %}
                    <td> R$ 75,00 </td>
                {% else %}
                    <td> R$ 20,00 </td> 
                {% endif %}
            </tr>
        </table>
    </div>
    {% endfor %}

    <!-- Espaço para a Soma dos ganhos -->
    <div>
        <h2>Ganhos totais</h2>
        <p> R$ {{ soma_de_ganhos }}</p>
    </div>

    <!-- Espaço para a Média dos ganhos-->
    <div>
        <h2>Média dos ganhos</h2>
        <p> R$ {{ media_de_ganhos }}</p>
    </div>


</body>
{% endblock %}
