{% extends "base.html" %}

{% block content %}
<br>
<h1>Histórico de Atendimentos</h1>
<br>
<style>
    /* Apply general styling for tables */
    .employee-table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
        table-layout: fixed;
    }

    .employee-table th,
    .employee-table td {
        padding: 10px;
        border: 1px solid black;
        text-align: left;
        width: 25%;
    }
</style>

<body>
    {% for service in services %}
    <div class="employee-table-container">
        <table class="employee-table">
            <tr>
                <th>Cliente</th>
                <th>Funcionário</th>
                <th>Data</th>
            </tr>
            <tr>
                {% print(service.name) %}
                {% print(service.name) %}
                {% print(service.name) %}
                <td>{{service.User.name}}</td>
                <td>{{service.Schedule.responsible.name}}</td>
                <td>{{service.Schedule.data}}</td>
            </tr>
        </table>
    </div>
    {% endfor %}
</body>
{% endblock %}
