{% extends "base.html" %} 

{% block content %}
<br>
<style>
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 75vh;
    }
    .content-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .image-container {
        text-align: center;
        margin-top: 10px;
        margin-bottom: -40px;
    }
    .image {
        max-width: 100%;
        max-height: 100%;
    }
    .labels {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        white-space: nowrap; 
        margin-left: -60px;
    }
    .labels label {
        font-size: 16px;
        font-weight: bold;
        margin-top: 5px;
    }
</style>
<body>
    <div class="center">
        <div class="content-container">
            <div class="image-container">
                <img class="image" src="{{url_for('static', filename='/Image/logo.png')}}">
            </div>
            {% if user.name != Null %}
                <div class="labels">
                    <label for="{{ user.name }}">Bem vindo {{user.name}}!</label>
                    {% if user.type == 'C' %}
                        <label for="type">Você está logado como: Cliente</label>
                    {% elif user.type == 'F' %}
                        <label for="type">Você está logado como: Funcionário</label>
                    {% else %}
                        <label for="type">Você está logado como: Gerente</label>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</body>
{% endblock %}






