{% extends "base.html" %}

{% block content %}

<br>
<h1>Consultar horários</h1>
<br>
<style>
    td, th {
        padding: 10px;
    }
</style>
<body>
    {% if employee == None %}
    <table border="1">
        <tr>
            <td>Horario</td>
            <td>Serviço</td>
            <td>Funcionario</td>
            <td>Status</td>
            {% if user.type != 'C' %}
                <td>Cliente</td>
                <td>Pagamento</td>
            {% endif %}
            {% if user.type == 'C' %}
                <td>Ações</td>
            {% endif %}
        </tr>

        {% for schedule in schedules %}
        <tr>
            <td>Dia {{ schedule.Schedule.date }} às {{ schedule.Schedule.data }}</td> 
            {% if schedule.Schedule.type == 'Corte de Cabelo' %}
                <td>Corte de Cabelo</td> 
            {% else %}
                <td>Pintura de Unhas</td> 
            {% endif %}
            <td>{{ schedule.Schedule.responsible.name }}</td>
            {% if schedule.Service %}
                <td>Reservado</td>
            {% else %}
                <td>Disponível</td>
            {% endif %}
            {% if user.type != 'C' %}
                {% if schedule.User %}
                    <td>{{ schedule.User.name }}</td>
                    {% if schedule.Service.paid == 0 and ( schedule.Schedule.responsible.name == user.name or user.type == 'M') %}
                        <form action="/pay_service" method="post">
                        <input type="hidden" id="service_id" name="service_id" value="{{ schedule.Service.id }}" />
                        <td><input type="submit" value="confirmar pagamento" /></td>
                        </form>
                    {% elif schedule.Service.paid == 1 %}
                        <td>Pago</td>
                    {% endif %}
                {% else %}
                <td></td>
                <td></td>
                {% endif %}
            {% endif %}
            {% if user.type == 'C' and not schedule.Service %}
                <form action="/schedule_time" method="post">
                <input type="hidden" id="schedule_id" name="schedule_id" value="{{ schedule.Schedule.id }}" />
                <td><input type="submit" value="agendar horário" /></td>
                </form>
            {% elif user.type == 'C' and schedule.Service.client_id == user.id %}
                <form action="/cancel_time" method="post">
                <input type="hidden" id="service_id" name="service_id" value="{{ schedule.Service.id }}" />
                <td><input type="submit" value="desmarcar horário" /></td>
                </form>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    {% if employee != None %}
    <table border="1">
        <tr>
            <td>Horario</td>
            <td>Serviço</td>
            <td>Funcionario</td>
            <td>Status</td>
            {% if user.type != 'C' %}
                <td>Cliente</td>
            {% endif %}
            {% if user.type == 'C' %}
                <td>Ações</td>
            {% endif %}
        </tr>
        {% for schedule in spec_schedules %}
        <tr>
            <td>Dia {{ schedule.Schedule.date }} às {{ schedule.Schedule.data }}</td> 
            {% if schedule.Schedule.type == 'Corte de Cabelo' %}
                <td>Corte de Cabelo</td> 
            {% else %}
                <td>Pintura de Unhas</td> 
            {% endif %}
            <td>{{ employee }}</td>
            {% if schedule.Service.status_service == 1 %}
                <td>Concluido</td>
            {% elif schedule.Service %}
                <td>Reservado teta {{schedule.Service.status }} </td>
            {% else %}
                <td>Disponível</td>
            {% endif %}
            {% if user.type != 'C' %}
                {% if schedule.User %}
                    <td>{{ schedule.User.name }}</td>
                {% endif %}
            {% endif %}
            {% if user.type == 'C' and not schedule.User %}
                <form action="/schedule_time" method="post">
                <input type="hidden" id="schedule_id" name="schedule_id" value="{{ schedule.Schedule.id }}" />
                <td><input type="submit" value="agendar horário" /></td>
                </form>
            {% elif user.type == 'C' and schedule.Service.client_id == user.id %}
                <form action="/cancel_time" method="post">
                <input type="hidden" id="service_id" name="service_id" value="{{ schedule.Service.id }}" />
                <td><input type="submit" value="desmarcar horário" /></td>
                </form>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    <br>
    <form action="/search" method="post">
        <label for="funcionario">Filtrar por funcionário:</label>
        <select name="funcionario" id="funcionario" required>
        <option value="">Selecione um funcionário</option>
        {% for employee in employees %}
            <option value="{{ employee.name }}">{{ employee.name }}</option>
        {% endfor %}
        </select><br>
        <input type="submit" value="Pesquisar">
    </form>
    <br>

    {% if employee == None %}
        {% if user.type != 'C' %}
            <br>
            <form action="/check_time" method="post">
                <label for="cliente">{{user.name}}, escolha qual cliente já concluiu o serviço:</label>
                <select name="cliente" id="cliente" required>
                <option value="">Selecione um cliente</option>
                {% for schedule in schedules %}
                    {% if user.type == 'F' %}
                        {% if schedule.Schedule.responsible.name == user.name and schedule.Service and schedule.Service.status_service != 1 and schedule.Service.paid == 1%}
                            <option value="{{schedule.Service.id}}">{{schedule.User.name}}</option>
                        {% endif %}
                    {% else %}
                        {% if schedule.Service and schedule.Service.status_service != 1 and schedule.Service.paid == 1%}
                            <option value="{{schedule.Service.id}}">{{schedule.User.name}}</option>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                </select><br>
                <input type="submit" value="Concluir">
            </form>
            <br>
        {% endif %}
    {% endif %}
</body>


{% endblock %}
