{% extends "base.html" %}

{% block content %}

<br>
<h1>Consultar horários disponíveis</h1>
<br>
<style>
    td, th {
        padding: 10px; /* Define o espaçamento interno das células */
    }
</style>
<body>
    {% if employee == None %}
    <table border="1">
        <tr>
            <td>Horario</td>
            <td>Funcionario</td>
        </tr>

        {% for schedule in schedules %}
        <tr>
            <td>{{ schedule.data }}</td>  
            <td>{{ schedule.responsible.name }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    {% if employee != None %}
    <table border="1">
        <tr>
            <td>Horario</td>
            <td>Funcionario</td>
        </tr>
        {% for schedule in spec_schedules %}
        <tr>
            <td>{{ schedule.data }}</td>  
            <td>{{ employee }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    <br>
    <form action="/search" method="post">
        <label for="funcionario">Filtrar por Funcionário:</label>
        <input type="text" name="funcionario" id="funcionario" required><br>
        <input type="submit" value="Pesquisar">
    </form>
</body>
{% endblock %}