{% extends "base.html" %}

{% block content %}

<br>
<h1>Consultar horários disponíveis</h1>
<form action="/search" method="post">
    <!--
    <label for="horario">Horário:</label>
    <select name="horario" id="horario" required>
        <option value="">Selecione um horário</option>
        {% for hour in range(8, 21) %}
            {% for minute in ['00', '30'] %}
                <option value="{{ hour }}:{{ minute }}">{{ hour }}:{{ minute }}</option>
            {% endfor %}
        {% endfor %}
    </select><br>
    -->

    <label for="funcionario">Consultar por Funcionário:</label>
    <input type="text" name="funcionario" id="funcionario" required><br>

    <input type="submit" value="Pesquisar">

    <u1 class="list-group list-group-flush">
        <br>
        {% for schedule in schedules %}
            <li class="list-group list-group-item"> Horário: {{ schedule.data}} - Funcionário: {{ employee }} </li>
        {% endfor %}
    </u1>
</form>

{% endblock %}