{% extends "base.html" %}

{% block content %}

<form method="POST">
    <br><h3 align="left">Cadastrar</h3><br>
    <div class="form group">
        <label for="firstname">Nome completo:</label>
        <input type="text" class="form control" id="name" name="name" placeholder="Digite seu nome"/>
    </div>
    <div class="form group">
        <label for="firstname">Idade:</label>
        <input type="text" class="form control" id="age" name="age" placeholder="Digite sua idade"/>
    </div>
    <div class="form group">
        <label for="phone">Telefone:</label>
        <input type="text" class="form control" id="phone" name="phone" placeholder="Digite seu telefone"/>
    </div>
    <div class="form group">
        <label for="email">Email:</label>
        <input type="email" class="form control" id="email" name="email" placeholder="Digite seu email"/>
    </div>
    <div class="form group">
        <label for="password1">Senha:</label>
        <input type="password" class="form control" id="password1" name="password1" placeholder="Digite sua senha"/>
    </div>
    <div class="form group">
        <label for="password2">Confirme sua Senha:</label>
        <input type="password" class="form control" id="password2" name="password2" placeholder="Confirme sua senha"/>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>

{% endblock %}